body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    padding: 8px;
    width: 60%;
}

button {
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

.present {
    color: green;
}

.absent {
    color: red;
}
